*{
    /* border: solid black; */
    background-color: #0F2375;
}
div.juego{
    width: 560px;
    border: 0px;
    margin-left: 20px;
    margin-top: 30px;
    position: absolute;
}
div.dados{
    width: 115px;
    position: absolute;
    left: 600px;
    top: 40px;

}
div.dado{
	width:32px;
	margin:5px;
}
.boton{
    display: block;
    background-color: white;
    margin-left: 15px;
}
div.pregunta{
    border-radius: 20px;
    background-color: white;
    width: 550px;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 750px;
}
form.equipos{
    color: white;
    width: 270px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 590px;
}
div.contorno{
    
    width: 52.5px;
    height: 52.5px;
    margin-left: 12px;
    margin-top: -68.5px;
    position: relative;
    background-color: #12312300;
}
div.azul{
    width: 52.5px;
    height: 52.5px;
    margin-left: 12px;
    margin-top: -52px;
    position: absolute;
    background-color: blue;
}
div.rojo{
    width: 52.5px;
    height: 52.5px;
    margin-left: 12px;
    margin-top: -52px;
    position: absolute;
    background-color: red;
}
div.verde{
    width: 52.5px;
    height: 52.5px;
    margin-left: 12px;
    margin-top: -52px;
    position: absolute;
    background-color: green;
}
div.amarillo{
    width: 52.5px;
    height: 52.5px;
    margin-left: 12px;
    margin-top: -52px;
    position: absolute;
    background-color: yellow;
}
.archivo{
    width: 550px;
    height: 200px;
    position: absolute;
    top: 600px;
    left: 30px;
}

/* botones personalizados */
div.botones{
    width: 550px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 1060px;
}

.boton_personalizado_incorrecto{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #cf1020;
    border-radius: 6px;
    border: 2px solid #a2282a;
  }
  .boton_personalizado_incorrecto:hover{
    color: #de1f21;
    background-color: #ffffff;
  }

  .boton_personalizado_correcto{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #00b347;
    border-radius: 6px;
    border: 2px solid #00722e;
  }
  .boton_personalizado_correcto:hover{
    color: #4c9141;
    background-color: #ffffff;
  }

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }